<% layout('layouts/boilerplate') %>
<h1>Golfdagbok</h1>
<a class="btn btn-outline-primary mb-3" href="/golfdagbok/ny">Ny golfrunda</a>
<div class="col-md-4">
  <% for(let golfrunda of golfrundor) { %> <% if(currentUser &&
  golfrunda.spelare.equals(currentUser._id)) { %>
  <div class="card mb-3">
    <div class="card-header">
      <%= golfrunda.datum.toLocaleDateString()%>
      <a class="btn btn-sm btn-outline-primary float-end" href="/golfdagbok/<%=golfrunda._id%> "
        >Visa</a
      >
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%=golfrunda.bana%></li>
      <li class="list-group-item">Poäng: <%= golfrunda.poang %></li>
      <li class="list-group-item">Betyg: <%= golfrunda.sammanfattningBetyg %></li>
    </ul>
  </div>
  <% } %> <% } %>
</div>
