<% layout('layouts/boilerplate') %>
<h1>Inlägg</h1>
<div class="col-md-4">
  <div class="card">
    <img src="<%= golfrunda.url %> " class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title"><%= golfrunda.bana %></h5>
      <p class="card-text"><%= golfrunda.noteringar %></p>
      <small class="text-muted"><%= golfrunda.spelare.username%></small>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Datum: <%= golfrunda.datum.toLocaleDateString() %></li>
      <li class="list-group-item">Antal hål spelade: <%= golfrunda.antalHal %></li>
      <li class="list-group-item">Banans Par: <%= golfrunda.banansPar %></li>
      <li class="list-group-item">Bruttoscore: <%= golfrunda.bruttoScore %></li>
      <li class="list-group-item">Nettoscore: <%= golfrunda.nettoScore %></li>
      <li class="list-group-item">Poäng: <%= golfrunda.poang %></li>
      <li class="list-group-item">
        Väder: <%= golfrunda.vader %>, <%= golfrunda.vindstyrka %> m/s, Temperatur: <%=
        golfrunda.temperatur %>°C
      </li>
      <li class="list-group-item">Banans skick: <%= golfrunda.banansSkick %></li>
      <li class="list-group-item">Betyg på rundan: <%= golfrunda.sammanfattningBetyg %></li>
      <li class="list-group-item">Medspelare: <%= golfrunda.medspelare %></li>
      <li class="list-group-item">
        <a class="btn btn-warning mx-1" href="/golfdagbok/<%=golfrunda._id%>/andra ">Ändra</a>
        <form class="d-inline" method="POST" action="/golfdagbok/<%=golfrunda._id%>?_method=DELETE">
          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#Modal"
          >
            Ta Bort
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="Modal"
            tabindex="-1"
            aria-labelledby="ModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ModalLabel">Radera Golfrunda</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">Är du säker att du vill ta bort din golfrunda?</div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Jag har ångrat mig!
                  </button>
                  <button type="submit" class="btn btn-danger">Ta Bort</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </li>
    </ul>
  </div>
</div>
