<% layout('layouts/boilerplate') %>
<h1>Inlägg</h1>
<div class="col-md-4">
  <div class="card">
    <img src="<%= golfrunda.bilder[0].url %> " class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title"><%= golfrunda.bana %></h5>
      <p class="card-text"><%= golfrunda.noteringar %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Datum: <%= golfrunda.datum.toLocaleDateString() %></li>
      <li class="list-group-item">Antal hål spelade: <%= golfrunda.antalHal %></li>
      <li class="list-group-item">Banans Par: <%= golfrunda.banansPar %></li>
      <li class="list-group-item">Bruttoscore: <%= golfrunda.bruttoScore %></li>
      <li class="list-group-item">Nettoscore: <%= golfrunda.nettoScore %></li>
      <li class="list-group-item">Poäng: <%= golfrunda.poang %></li>
      <li class="list-group-item">
        Väder: <%= golfrunda.vader %>, <%= golfrunda.vindstyrka %>, temperatur: <%=
        golfrunda.temperatur %>°C
      </li>
      <li class="list-group-item">Banans skick: <%= golfrunda.banansSkick %></li>
      <li class="list-group-item">Betyg på rundan: <%= golfrunda.sammanfattningBetyg %></li>
      <li class="list-group-item">Medspelare: <%= golfrunda.medspelare %></li>
    </ul>
  </div>
</div>
