<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/styles/stars.css" />
<h1>Golfbana</h1>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= golfbana.name %></h5>
        <p class="card-text"><%= golfbana.omklubb %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Antal hål: <%=golfbana.hal%>, Par: <%= golfbana.par %></li>
        <li class="list-group-item">
          Hemsida: <a href="<%= golfbana.hemsida_url %>"><%= golfbana.hemsida_url %></a>
        </li>
        <li class="list-group-item">Epost: <%= golfbana.epost %></li>
        <li class="list-group-item">Vägbeskrivning: <%= golfbana.vagbeskrivning %></li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <% if(golfbana.geometry.coordinates[1] !== -90) { %>
    <div class="mb-3" id="map" style="height: 300px"></div>
    <% } %>
    <!--  -->
    <h2>Lämna ett omdöme</h2>
    <form
      method="POST"
      action="/golfbanor/<%=golfbana._id%>/omdome"
      class="mb-3 validated-form"
      novalidate
    >
      <div class="mb-0">
        <fieldset class="starability-basic">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="omdome[betyg]"
            value="1"
            checked
            aria-label="No rating."
          />
          <input type="radio" id="first-rate1" name="omdome[betyg]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="omdome[betyg]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="omdome[betyg]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="omdome[betyg]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="omdome[betyg]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Omdöme</label>
        <textarea
          class="form-control"
          name="omdome[text]"
          id="body"
          cols="30"
          rows="3"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button class="btn btn-success">Spara</button>
    </form>
    <% for(let omdome of golfbana.omdomen) { %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Betyg: <%= omdome.betyg %></h5>
          <p class="card-text">Omdöme: <%= omdome.text %></p>
          <form method="POST" action="/golfbanor/<%=golfbana._id%>/omdome/<%=omdome._id%>?_method=DELETE">
            <button
            type="button"
            class="btn btn-sm btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#Modal"
          >
            Ta Bort
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="Modal"
            tabindex="-1"
            aria-labelledby="ModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ModalLabel">Radera omdöme</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">Är du säker att du vill ta bort ditt omdöme?</div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Jag har ångrat mig!
                  </button>
                  <button type="submit" class="btn btn-danger">Ta Bort</button>
                </div>
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>
      <% } %>
  </div>
</div>

<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const golfbana = <%- JSON.stringify(golfbana)%>;
</script>

<script src="/js/kartaEnBana.js"></script>
